<nav class="nav-head">
  <div class="nav-wrapper teal darken-2">
    <a href="#" class="brand-logo">Knowledge Base ~</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/navbar/user">New User</a></li>
      <li><a routerLink="/navbar/user">User's Status</a></li>
      <li><a routerLink="/navbar/person">Person's Status</a></li>
      <li><a routerLink="/navbar/roles">Roles</a></li>
      <li><a routerLink="/navbar/logout">|| Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<!-- <app-footer></app-footer> -->
